# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Local configuration
local.properties

# Mac / Windows OS
.DS_Store
Thumbs.db

# Log Files
*.log
